@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: "Merriweather", serif;
}

/* banner section style starts here */

.banner-container{
    max-width: 1320px;
    margin: 0 auto;
    /* border: 2px solid red; */
    min-height: 600px; 
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 16px;
    background-image: url("/images/Banner\ Image.png"); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
}

.banner-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
}

.banner-content p, h1{
    color: white;
    font-size: 72px;
    font-weight: 900;
}

.banner-content p{
    font-size: 32px;
    font-weight: 400;
}

.banner-content h1{
    font-size: 72px;
    font-weight: 900;
}

/* 65%-section style starts here */

.second-section-container{
    width: 802.9px;
    height: 806px;
    margin: 0 auto;
    margin-top: 90px;
    /* border: 2px solid red; */
}

.second-section-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.second-section-content h1{
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
}

.second-section-content p{
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.second-section-content h3{
    color: rgb(7, 2, 17);
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}

.image-container{
    width: 802.9px;
    height: 500px;
}

.image-container img{
    width: 100%;
    height: 100%;
}

/* midnight section starts here */

.midnight-party-container{
    width: 1320px;
    height: 600px;
    margin: 0 auto;
    border: 2px solid red;
    display: flex;
    background-image: url("images/Vectorrr.png");
    background-position: center;
    background-color: rgba(0, 0, 0, 0.5);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
}

.left-side-content{
    width: 50%;
    height: 600px;
    /* border: 2px solid green; */
    display: flex;flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.left-side-content h2{
    color: rgb(255, 255, 255);
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    margin-bottom: 24px;
    margin-left: 126px;
}

.left-side-content p{
    color: rgba(255, 255, 255, 0.8);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 32px;
    margin-left: 126px;
}

#midnight-button{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    margin-right: 280px;
}

.right-side-content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.right-side-content img{
   width: 349.16px;
   height: 464.65px;
}