@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: "Merriweather", serif;
}

/* banner section style starts here */

.banner-container{
    max-width: 1320px;
    margin: 0 auto;
    /* border: 2px solid red; */
    min-height: 600px; 
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 16px;
    background-image: url("/images/Banner\ Image.png"); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
}

.banner-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
}

.banner-content p, h1{
    color: white;
    font-size: 72px;
    font-weight: 900;
}

.banner-content p{
    font-size: 32px;
    font-weight: 400;
}

.banner-content h1{
    font-size: 72px;
    font-weight: 900;
}

/* 65%-section style starts here */

.second-section-container{
    width: 802.9px;
    height: 806px;
    margin: 0 auto;
    margin-top: 90px;
    /* border: 2px solid red; */
}

.second-section-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.second-section-content h1{
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
}

.second-section-content p{
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.second-section-content h3{
    color: rgb(7, 2, 17);
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}

.image-container{
    width: 802.9px;
    height: 500px;
}

.image-container img{
    width: 100%;
    height: 100%;
}

/* midnight section starts here */

.midnight-party-container{
    width: 1320px;
    height: 600px;
    margin: 0 auto;
    border: 2px solid red;
    display: flex;
    background-image: url("images/Vectorrr.png");
    background-position: center;
    background-color: rgba(0, 0, 0, 0.5);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    margin-top: 80px;
}

.left-side-content{
    width: 50%;
    height: 600px;
    /* border: 2px solid green; */
    display: flex;flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.left-side-content h2{
    color: rgb(255, 255, 255);
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    margin-bottom: 24px;
    margin-left: 126px;
}

.left-side-content p{
    color: rgba(255, 255, 255, 0.8);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 32px;
    margin-left: 126px;
}

#midnight-button{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    margin-right: 280px;
}

.right-side-content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.right-side-content img{
   width: 349.16px;
   height: 464.65px;
}

/* place section styles starts here */

.place-container{
    width: 1320px;
    height: 482px;
    border-radius: 16px;
    margin: 0 auto;
    margin-top: 120px;
    margin-bottom: 100px;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.1),rgba(255, 0, 0, 0) 100%);
}

.place-contain{
    width: 549px;
    height: 168px;
    border: 2px solid red;
    /* font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    text-align: center; 
    margin: 0 auto; */
    /* margin-top: 100px;
    margin-left: 385px;
    margin-right: 386px;
    margin-bottom: 214px;  */
    
    /* align-items: center; */  
}

.place-contain p{
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: capitalize;
}

#place1, #place2, #place3{
    color: red;
    /* text-align: center;  */
} 

.btn{
    text-align: center;
    width: 150px;
    height: 50px;
    margin-top: 64px;
    align-items: center;
    color: red;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    /* margin: 0 auto; */
}


/* holiday section styles start here */

.holiday-section-container{
    width: 1320px;
    height: 986.07px;
    /* border: 2px solid red; */
    margin: 0 auto;
    position: relative;
}

.holiday-text-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 260px;
    width: 1068px;
    margin: 0 auto;
}

.holiday-text-container h5{
    color: rgb(7, 2, 17);
    font-family: Inter;
    font-size: 24px;
    font-size: 500;
}

.holiday-text-container h2{
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    line-height: 91px;
    letter-spacing: 0%;
    text-align: center;
}

#holidays{
    color: red;
}

.holiday-text-container p{
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
}

.solid-color{
    width: 1320px;
    height: 229px;
    background-color: red;
    position: absolute;
    top: 77%;
}

.gift-box{
    width: 674.82px;
    height: 577.96px;
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
}

/* portfolio styles starts here  */

.portfolio-container{
    width: 1320px;
    height: 1163px;
    margin: 0 auto;
    margin-top: 120px;
    /* border: 2px solid red; */
}

.portfolio-text-content h5{
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 4px;
}

.portfolio-text-content h2{
    color: rgb(7, 2, 17);
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 4px;
}

.portfolio-text-content p{
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 50px;
}

.item{
    width: 424px;
    height: 450px;
}

.item img{
    width: 100%;
    height: 100%;
}

.portfolio-items{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
}

/* section 5 start here  */

/* section footer starts here 
 */